body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url(Pic.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 1em 0;
    z-index: 1;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    text-align: center;
    margin: 4em;
}

#welcome-section img {
    width: 25%;
    height: auto;
    padding-right: 50px;
    padding-left: 10px;
}

#Projects, #About, #Contact {
    padding: 50px;
}

.project-tile {
    margin: 1em;
    padding: 1em;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
}

@media (max-width: 600px){
    #navbar {
        position: static;
        display: block;
        width: 100%;
    }
    .project-tile{
        width: 100%;
    }
}