body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url(Vassar.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-radius: 30px;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 0.4em 0;
    z-index: 1;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    gap: -10vh;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
}

#navbar button {
    flex-shrink: 0;
    margin: 0 5vh;
}

#navbar.transparent {
    background-color: rgba(255, 255, 255, 0);
}

#navbar.solid {
    background-color: rgba(255, 255, 255, 1);
}

#welcome-section {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    text-align: center;
    margin: 4em;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #333;
}

#welcome-section img {
    width: 25%;
    height: auto;
    margin-left: 180px;
    border-radius: 30px;
}

#welcome-section h1 {
    font-family: sans-serif;
    font-size: 3rem;
    margin-top: -320px;
    margin-left: 180px;
    margin-bottom: -100px;
    padding-right: 50px;
}
#welcome-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: -500px;
    padding-right: 90px;
}

#Projects, #About, #Contact, .project-tile {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 30px;
}

.about-tile {
    height: 70vh;
    margin: 1em;
    padding: 1em;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 32px;
    color: #333;
}


.project-tile {
    height: 85vh;
    margin: 1em;
    padding: 1em;
    margin: 30px;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #333;
}

#Projects h1{
    font-family: sans-serif;
    font-size: 48px;
    align-items: center;
    padding-left: 350px;
    padding-right: 400px;
}

#Projects h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

@media (max-width: 1190px){
    .project-tile {
        width: 100%;
        height: 1300px;
    }
    #my-description, .language-description, .tools-and-frameworks-description {
        height: auto;
    }
}

@media (max-width: 1100px){
    #navbar {
        position: fixed;
        display: block;
        width: 100%;
    }
    #my-description, .language-description, .tools-and-frameworks-description {
        height: auto;
    }
    
}

@media (max-width: 900px){
    #navbar {
        position: fixed;
        display: block;
        width: 100%;
    }

    .project-tile {
        width: 100%;
        height: 2000px;
    }
    .about-tile{
        height: 1000px;
    }
    .about-tile h2 {
        margin-left: 0
    }
    #my-description {
        width: 80%;
        height: auto;
    }
    .about, .language-description, .tools-and-frameworks-description {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    .about #programming-languages, .about #tools-and-frameworks {
        width: auto;
        margin: 0 auto; 
    }

    .language-description div, .tools-and-frameworks-description div {
        width: 90%; 
        margin-bottom: 20px;
    }

    .icon {
        width: 25px;
        height: auto; 
    }
    
}

@media (max-width: 768px){
    #navbar {
        position: static;
        display: block;
        width: 100%;
    }
    #navbar a {
        display: block;
        text-align: center;
        padding: 10px;
    }
    #navbar button {
        display: block;
        margin: 10px auto;
    }
    #navbar.transparent {
        background-color: rgba(255, 255, 255, 1);
    }
    #navbar.solid {
        background-color: rgba(255, 255, 255, 1);
    }
    #welcome-section{
        height: 60vh;
    }
    .contact-tile{
        width: 100%
    }
    #welcome-section h1 {
        margin-left: 0;
    }
    #welcome-section h2 {
        margin-left: 0;
    }
    #my-description {
        width: 10%;
        height: auto;
    }
    .about-tile, #programming-languages, #tools-and-frameworks {
        flex-direction: column;
        align-items: center;
    }

    .about-tile h2, .about-tile p, .language-description div, .tools-and-frameworks-description div {
        width: 90%;
        text-align: center;
    }
    .language-description div, .tools-and-frameworks-description div {
        text-align: center;
        width: 100%; 
    }
    .about-tile p, .about-tile h2, .about-tile h3 {
        font-size: smaller; 
    }

    .icon {
        width: 50px;
        height: auto;
    }
    .about, .language-description, .tools-and-frameworks-description {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    .about #programming-languages, .about #tools-and-frameworks {
        width: auto;
        margin: 0 auto; 
    }

    .language-description div, .tools-and-frameworks-description div {
        width: 90%; 
        margin-bottom: 20px;
    }

    .icon {
        width: 25px;
        height: auto; 
    }
    .about {
        flex-direction: column;
    }
    #programming-languages, #tools-and-frameworks {
        width: 100%; 
    }
}


.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

  /**/

  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
  /**/

  .project {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25em;
    height: 490px;
  }
  
  .project:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }


  #Savor {
    width: 400px;
  }

  #registration {
    width: 400px;
  }

  #filmChoice {
    width: 400px;
  }

  .project-tile p {
    padding: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.registration-title, .filmChoice-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 90px;
    margin-bottom: -20px;
}

#registration-icon, #filmChoice-icon, #restaurant-icon, #mail-icon, #linkedIn-icon, #phone-icon{
    width: 30px;
    height: auto;
}

.savor-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 130px;
    margin-bottom: -20px;
}

.contact{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 311px;
    height: 50px;
    margin-left: -8px;
    gap: 10px;
    margin-top: -2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

.contact img {
    margin-left: 40px;
}

#project-2-visit {
    padding-top: 42px;
}

#project-3-visit {
    padding-top: 58px;
}

.contact p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.about {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 7em;
    width: 78.125em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: space-around;
}

.about-tile, .language-description, .tools-and-frameworks-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
}

#my-description {
    padding: 2px;
    width: 100%;
}

#my-description p {
    padding-left: 20px;
    padding-right: 20px;
}

#programming-languages {
    width: 50%;
    height: 200px;
    margin-top: 30px;
    padding-top: 1px;
}

#programming-languages h3 {
    margin-left: -25px;
}

.language-description {
    align-items: center;
    gap: 45px;
    display: flex;
    padding-left: 15px;
    margin-left: -25px;
    width: 30px;
    height: auto;
}

#java{
    margin-top: -20px;
    margin-left: 40px;
    display: flex;
}

#python{
    margin-top: -20px;
    margin-left: 40px;
    display: flex;
} 

#html {
    margin-top: -20px;
    margin-left: 100px;
    display: flex;
}

#css {
    margin-top: -20px;
    display: flex;
    margin-bottom: -100px;
    margin-left: -483px;
    padding-right: 10px;
}

#java-script {
    margin-top: -20px;
    margin-left: 30px;
    display: flex;
    margin-bottom: -100px;
}

#c {
    margin-top: -20px;
    display: flex;
    margin-bottom: -100px;
}

.icon {
    width: 30px;
    height: 30px;
    padding-top: 15px;
    padding-right: 10px;
}

#tools-and-frameworks {
    width: 97%;
    height: 200px;
}

#tools-and-frameworks h3 {
    padding-top: 27px;
}

.tools-and-frameworks-description {
    align-items: center;
    gap: 25px;
    display: flex;
    margin-top: -20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#git {
    display: flex;
    padding-right: 30px;
}

#android-studio {
    display: flex;
}

#figma {
    display: flex;
}

/**/

.contact-tile {
    height: 80vh;
    margin: 1em;
    padding: 1em;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 32px;
    color: #333;
}

#email-button, #linkedIn-button {
    cursor: pointer;
    border-radius: 30px;
    background-color: transparent;
    width: 310px;
    height: 50px;
    border-color: transparent;
    margin-right: 100px;
    padding-right: -100px;
    margin-left: -700px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#phone-button {
    cursor: pointer;
    border-radius: 30px;
    background-color: transparent;
    width: 310px;
    height: 50px;
    border-color: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-right: 100px;
}

#email-button:hover, #linkedIn-button:hover, #phone-button:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

#email-button {
    margin-left: 100px;
    margin-right: -100px;
}

#mail-icon {
    padding-right: 2px;
}
 
#full-email {
    margin-right: 900px;
}

#full-linkedIn {
    margin-right: -100px;
    margin-top: 20px;
}
#full-phone {
    margin-top: 20px;
    margin-left: -700px;
}

/**/

.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}
  
.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#name-holder {
    height: 20px;
    width: 500px;
    margin-left: -600px;
    margin-top: 135px;;
}

#email-holder {
    height: 20px;
    width: 500px;
    margin-left: -524px;
    margin-top: 200px;
    padding-top: -1px;
    margin-bottom: 30px;
}

#subject-holder {
    height: 20px;
    width: 500px;
    margin-top: 270px;
    margin-left: -524px;
}

#message-holder {
    height: 20px;
    width: 210px;
    padding-right: 300px;
    margin-left: -523px;
    margin-top: 340px;
    padding-bottom: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    margin-right: 0px;
    margin-top: -325px;
    margin-left: 1200px;
    display: flex;
}

/**/

.submitBtn {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background: linear-gradient(to left,#333,#555);
    letter-spacing: 0.7px;
    margin-top: 550px;
    margin-left: -320px ;
  }
  
  .submitBtn:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .submitBtn:active {
    transform: scale(0.97);
  }

  
