body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url(Vassar.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-radius: 30px;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 0.4em 0;
    z-index: 1;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
}

#navbar.transparent {
    background-color: rgba(255, 255, 255, 0);
}

#navbar.solid {
    background-color: rgba(255, 255, 255, 1);
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    text-align: center;
    margin: 4em;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #333;
}

#welcome-section img {
    width: 25%;
    height: auto;
    margin-left: 180px;
    border-radius: 30px;
}

#welcome-section h1 {
    font-family: sans-serif;
    font-size: 48px;
    margin-top: -320px;
    margin-left: 180px;
    margin-bottom: -100px;
    padding-right: 50px;
}
#welcome-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: -500px;
    padding-right: 90px;
}

#Projects, #About, #Contact, .project-tile {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 30px;
}

.about-tile {
    display: flex;
    height: 70vh;
    margin: 1em;
    padding: 1em;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 32px;
    color: #333;
}


.project-tile {
    height: 80vh;
    margin: 1em;
    padding: 1em;
    margin: 30px;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #333;
}

#Projects h1{
    font-family: sans-serif;
    font-size: 48px;
    align-items: center;
    padding-left: 350px;
    padding-right: 400px;
}

#Projects h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.contact-tile {
    height: 60vh;
    margin: 1em;
    padding: 1em;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 32px;
    color: #333;
}

@media (max-width: 600px){
    #navbar {
        position: static;
        display: block;
        width: 100%;
    }
    .about-tile{
        width: 100%;
    }
    .project-tile{
        width: 100%;
    }
    .contact-tile{
        width: 100%
    }
}

.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

  /**/

  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
  /**/

  .project {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 450px;
  }
  
  .project:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }


  #Savor {
    width: 400px;
  }

  #registration {
    width: 400px;
  }

  #filmChoice {
    width: 400px;
  }

  .project-tile p {
    padding: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.registration-title, .filmChoice-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 90px;
    margin-bottom: -20px;
}

#registration-icon, #filmChoice-icon, #restaurant-icon, #mail-icon, #linkedIn-icon, #phone-icon{
    width: 30px;
    height: auto;
}

.savor-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 130px;
    margin-bottom: -20px;
}

.contact{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 311px;
    height: 50px;
    margin-left: -8px;
    gap: 10px;
    margin-top: -2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

.contact img {
    margin-left: 40px;
}

#project-2-visit {
    padding-top: 20px;
}

#project-3-visit {
    padding-top: 45px;
}

.contact p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.about {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1250px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#my-description {
    padding-top: 1px;
}

#my-description p {
    padding-left: 20px;
    padding-right: 20px;
}

#programming-languages {
    width: 600px;
    height: 200px;
    margin-top: 30px;
    padding-top: 1px;
}

#programming-languages h3 {
    margin-left: -25px;
}

.language-description {
    align-items: center;
    gap: 45px;
    display: flex;
    padding-left: 50px;
    margin-left: -25px;
}

.language-description {
    width: 30px;
    height: auto;
}

#java{
    margin-top: -20px;
    margin-left: 40px;
    display: flex;
}

#python{
    margin-top: -20px;
    margin-left: 40px;
    display: flex;
} 

#html {
    margin-top: -20px;
    margin-left: 30px;
    display: flex;
}

#css {
    margin-top: -20px;
    display: flex;
    margin-bottom: -100px;
    margin-left: -475px;
    padding-right: 10px;
}

#java-script {
    margin-top: -20px;
    margin-left: 30px;
    display: flex;
    margin-bottom: -100px;
}

#c {
    margin-top: -20px;
    margin-left: 5px;
    display: flex;
    margin-bottom: -100px;
}

.icon {
    width: 30px;
    height: 30px;
    padding-top: 15px;
    padding-right: 10px;
}

#tools-and-frameworks {
    width: 600px;
    height: 200px;
    margin-top: -143px;
    margin-left: 650px;
}

#tools-and-frameworks h3 {
    padding-top: 25px;
}

.tools-and-frameworks-description {
    align-items: center;
    gap: 45px;
    display: flex;
    margin-top: -20px;
    padding-left: 70px;
}

#git {
    display: flex;
    padding-right: 30px;
}

#android-studio {
    display: flex;
}

#figma {
    display: flex;
}

/**/

#email-button, #linkedIn-button {
    cursor: pointer;
    border-radius: 30px;
    background-color: transparent;
    width: 310px;
    height: 50px;
    border-color: transparent;
    margin-right: 100px;
    padding-right: -100px;
    margin-left: -700px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#phone-button {
    cursor: pointer;
    border-radius: 30px;
    background-color: transparent;
    width: 310px;
    height: 50px;
    border-color: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-right: 100px;
}

#email-button:hover, #linkedIn-button:hover, #phone-button:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

#email-button {
    margin-left: 100px;
    margin-right: -100px;
}

#mail-icon {
    padding-right: 2px;
}
 
#full-email {
    margin-right: 900px;
}

#full-linkedIn {
    margin-right: -100px;
    margin-top: 20px;
}
#full-phone {
    margin-top: 20px;
    margin-left: -700px;
}

/**/

.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}
  
.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#Name-holder {
    height: 20px;
    width: auto;
    padding-right: 300px;
    margin-left: -600px;
    margin-top: 135px;;
}

#email-holder {
    height: 20px;
    width: auto;
    padding-right: 300px;
    margin-left: -481px;
    margin-top: 200px;
    padding-top: -1px;
}

#message-holder {
    height: 20px;
    width: auto;
    padding-right: 300px;
    margin-left: -481px;
    margin-top: 265px;
    padding-bottom: 150px;
}

  